@tailwind base;
@tailwind components;
@tailwind utilities;

/* 스크롤바 숨기기 */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE, Edge */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.out-line-none {
  outline: none;
}
